/* stylelint-disable */
@font-face {
    font-family: "Gilroy";
    font-weight: 400;
    font-style: normal;
    src:
        url("../fonts/Gilroy-Regular.woff2") format("woff2"),
        url("../fonts/Gilroy-Regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    font-weight: 500;
    font-style: normal;
    src:
        url("../fonts/Gilroy-Medium.woff2") format("woff2"),
        url("../fonts/Gilroy-Medium.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    font-weight: 600;
    font-style: normal;
    src:
        url("../fonts/Gilroy-SemiBold.woff2") format("woff2"),
        url("../fonts/Gilroy-SemiBold.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    font-weight: 700;
    font-style: normal;
    src:
        url("../fonts/Gilroy-Bold.woff2") format("woff2"),
        url("../fonts/Gilroy-Bold.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "SourceSansPro";
    font-weight: 600;
    font-style: normal;
    src:
        url("../fonts/SourceSansPro-SemiBold.woff2") format("woff2"),
        url("../fonts/SourceSansPro-SemiBold.woff") format("woff");
    font-display: swap;
}
/* stylelint-enable */