html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: calc(var(--vh, 1vh) * 100);
    font-family: "Gilroy", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.7;
    color: $white;
    background-image: radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(255, 193, 165, 0.932) 0%, rgba(244, 170, 110, 0.5) 77.08%, rgba(213, 151, 70, 0.2) 100%);
    transition: min-height 0.1s;
}

.main {
    flex-grow: 1;
}

.container {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    max-width: $container + px;

    &--lg {
        max-width: $max-container + px;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.button {
    position: relative;
    z-index: 1;
    padding: 9px 12px;
    border: 1px solid #fff;
    border-radius: 9px;
    font-weight: 400;
    line-height: 1;
    color: $white;
    background-image: $linear-green;
}

.logo {
    width: 110px;
    height: 21px;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.visually-hidden {
    position: absolute;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    clip-path: inset(50%);
    overflow: hidden;
    border: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
}

.title {
    font-family: "DMSans", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;

    @include w($sm) {
        font-size: 26px;
    }
}

ol.counter {
    list-style-type: none;
    counter-reset: item;

    li {
        position: relative;
        padding: 0 0 0 45px;

        &::before {
            content: counter(item);
            position: absolute;
            left: 0;
            top: 0;
            width: 28px;
            height: 28px;
            counter-increment: item;
            border: 1px solid #4274bb;
            border-radius: 50%;
            font-weight: 700;
            font-size: 14px;
            line-height: 26px;
            text-align: center;
            color: #818181;
        }
    }
}

.ibg {
    position: relative;

    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;

    video,
    iframe,
    object,
    embed {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

.videobg {
    video,
    iframe,
    object,
    embed {
        position: fixed;
        left: 50%;
        top: 50%;
        z-index: -100;
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;
        background-size: cover;
        transform: translateX(-50%) translateY(-50%);
    }
}