.body--sign-up {
    background-image: url('../images/sign-up-bg.jpg'), radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(165, 239, 255, 0.2) 0%, rgba(110, 191, 244, 0.0447917) 77.08%, rgba(70, 144, 213, 0) 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(100px);
}

.body--create {
    background-image: url('../images/create-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}