/* stylelint-disable */
@mixin line-clamp($count) {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $count;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
/* stylelint-enable */

@mixin w($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}

@mixin h($width) {
    @media screen and (max-height: $width) {
        @content;
    }
}
/* stylelint-disable */

//Адаптивное свойство
@mixin adaptiv-value($property, $startSize, $minSize, $type) {
	$addSize: $startSize - $minSize;
	@if $type==1 {
		//Только если меньше контейнера
		#{$property}: $startSize + px;
		@media (max-width: #{$container + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$container - 320}));
		}
	} @else if $type==2 {
		//Только если больше контейнера
		#{$property}: $startSize + px;
		@media (min-width: #{$container + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$max-container - 320}));
		}
	} @else {
		//Всегда
		#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$max-container - 320}));
	}
}
//Адаптивное свойство до
@mixin adaptiv-value-to($property, $startSize, $minSize, $minWidth) {
	$addSize: $startSize - $minSize;
	//#{$property}: $minSize + px;
	@media (min-width: #{$minWidth + px}) {
		#{$property}: calc(#{$minSize + px} + #{$addSize} * (((100vw - #{$minWidth + px})) / ((#{$max-container - $minWidth}))));
	}
}
/* stylelint-enable */