// font-family: 'Gilroy', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Rubik', sans-serif;

// screen size

$xsm: 370px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

//colors

$linear-blue: linear-gradient(269.78deg, #005CA6 0.19%, #0078FF 98.74%);
$linear-green: linear-gradient(269.78deg, #00A660 0.19%, #00E257 98.74%);
$white-bg: rgba(0, 0, 0, 0.2);
$white: #fff;  

// container size     

$container: 1920;
$max-container: 1800;

// fansybox error

@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}
