.tabs {
    margin: 0 auto;
    margin-bottom: 50px;
    width: 1200px;

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.tabs-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.3%;
    height: 40px;
    background-color: #c3c3c3;
    cursor: pointer;

    &.active {
        background-color: #eee000;
    }
}

.tabs-block {
    display: none;

    &.active {
        display: block;
    }
}